.layout-container {
  display: flex;
  height: 100vh;
}

/* Sidebar fixed on left */
.sidebar {
  width: 250px;
  background: #1e293b;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Right section */
.main-content {
  /* margin-left: 250px;  */
  width: calc(100% - 250px);
  display: flex;
  flex-direction:column;
}

/* Sticky header */
.header {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  z-index: 100;
}

/* Page content below header */
.page-content {
  flex: 1;
  padding: 20px;
  background: #f9fafb;
  overflow-y: auto;
}
